<!DOCTYPE html>
<html lang="PT-BR">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>HealthPlan</title>
<link rel="icon" th:href="@{/img/healthicon.png}">
<!-- Fonte -->
<link
	href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap"
	rel="stylesheet">
<!-- Estilos -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/style.css}">
<!-- Scripts (jQuery não pode ser o slim que vem do Boostrap) -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
	integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
	integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
	crossorigin="anonymous"></script>
<!-- Font Awesome -->
<script src="https://kit.fontawesome.com/14ec366e22.js"
	crossorigin="anonymous"></script>

</head>
<body>
<style>
        @media (max-width: 767px) {
            .custom-container {
                width: 100%;                
            }
        }
    </style>
	
	<div class="container custom-container">
		<div class="row justify-content-center">
			<div class="col-md-6">
				<h2 class="text-center" id="heart">
					<i class="fas fa-heartbeat fa-3x"></i>
				</h2>
				<h2 class="text-center text-md" style="max-width: 100%; overflow-wrap: break-word;">HealthPlan</h2>
				<form action="/perform_login" method="post">

					<div class="mb-3">
						<label for="username" class="form-label">Nome de Usuário</label> <input
							type="text" class="form-control" id="username" name="username"
							placeholder="Digite seu nome de usuário" required>

					</div>
					<div class="mb-3">
						<label for="password" class="form-label">Senha</label> <input
							type="password" class="form-control" id="password"
							name="password" placeholder="Digite sua senha" required>

					</div>

					<!-- Restante do seu formulário -->
					<div class="text-center">
						<button type="submit" class="btn btn-primary">Entrar</button>
					</div>

				</form>
				<br>
				<div th:if="${param.error != null}"
					class="alert alert-danger alert-lg mx-auto balloon" role="alert"
					style="width: 200px;">Nome do usuário ou senha incorreta.</div>
			</div>
		</div>
</body>
</html>
