<html lang="PT-BR" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>HealthPlan</title>
<link rel="icon" th:href="@{/img/healthicon.png}">
<!-- Fonte -->
<link
	href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap"
	rel="stylesheet">
<!-- Estilos -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">

<!-- Scripts (jQuery não pode ser o slim que vem do Boostrap) -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
	integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
	integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
	crossorigin="anonymous"></script>
<!-- Font Awesome -->
<script src="https://kit.fontawesome.com/14ec366e22.js"
	crossorigin="anonymous"></script>
</head>
<body>

	<!-- Navbar -->
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" style="font-size: 30px;"><img
			th:src="@{/img/healthicon.png}"
			style="width: 60px; height: 60px; margin-right: 10px;">HealthPlan</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNav" aria-controls="navbarNav"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link" href="#">Cadastrar
						<span class="sr-only">(current)</span>
				</a>
					<ul class="submenu">
						<li><a th:href="@{/create}">Novo beneficiário</a></li>

					</ul></li>
				<li class="nav-item"><a class="nav-link" href="#">Atualizar</a>
					<ul class="submenu">
						<li><a th:href="@{/update}">Beneficiário
								existente</a></li>
					</ul></li>
				<li class="nav-item"><a class="nav-link" href="#">Relatório</a>
					<ul class="submenu">
						<li><a th:href="@{/listarbeneficiarios}">Beneficiários</a></li>
						<li><a th:href="@{/listardocumentos}">Documentos</a></li>
					</ul></li>

				<ul class="navbar-nav" style="margin-left: 260%;">
					<li class="nav-item"><a class="nav-link" th:href="@{/sair}">Sair</a>
					</li>
				</ul>
			</ul>
		</div>
	</nav>

<!-- Conteúdo da Página -->
	<style>
        @media (max-width: 767px) {
            .container-lg mt-3 {
                width: 100%;                
            }
        }
    </style>
<div class="container-lg mt-3">
    <h1>Atualizar beneficiário</h1>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Atualizar beneficiário</h5>
            <form>
                <div class="form-group">
                    <label for="id">*ID:<button type="button" class="btn btn-info" id="btnBuscar">Buscar</button></label>
                    <input type="text" class="form-control" id="idUsuario" placeholder="Digite o id e clique em Buscar">
                </div>
                <div class="form-group">
                    <label for="nome">*Nome:</label>
                    <input type="text" class="form-control" id="nome" required>
                </div>
                <div class="form-group">
                    <label for="foneUsuario">Telefone:</label>
                    <input type="tel" class="form-control" id="foneUsuario">
                </div>
                <div class="form-group">
                    <label for="dataNascimento">*Data de nascimento:</label>
                    <input type="date" class="form-control" id="dataNascimento" required>
                </div>
                <div class="form-group">
                    <label for="dataInclusao">*Data de criação:</label>
                    <input type="date" class="form-control" id="dataInclusao" required>
                </div>
                <div class="form-group">
                    <label for="dataAtualizacao">*Data de atualização:</label>
                    <input type="date" class="form-control" id="dataAtualizacao" required>
                </div>
                <h5 class="card-title">Documentos</h5>
                <form>                
                <div class="form-group">
                    <label for="tipoDocumento">*Tipo do documento:</label>
                    <input type="text" class="form-control" id="tipoDocumento" required>
                </div>
                <div class="form-group">
                    <label for="numeroDocumento">N°:</label>
                     <input type="text" class="form-control" id="numeroDocumento" required>
                </div>                
                <div class="form-group">
                    <label for="dataInclusaoDoc">*Data de criação:</label>
                    <input type="date" class="form-control" id="dataInclusaoDoc" required>
                </div>
                <div class="form-group">
                    <label for="dataAtualizacaoDoc">*Data de atualização:</label>
                    <input type="date" class="form-control" id="dataAtualizacaoDoc" required>
                </div>
                
                <div class="mt-3">
                    <button type="button" class="btn btn-primary" id="btnSalvar">Salvar</button>  
                    
                    <button type="button" class="btn btn-danger" id="btnExcluir">Excluir</button>                 
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Scripts (jQuery não pode ser o slim que vem do Bootstrap) -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<script>
$(document).ready(function () {
    $('#btnBuscar').click(function () {
        var idUsuario = $('#idUsuario').val();

        $.ajax({
            type: 'GET',
            url: '/api/beneficiarios/' + idUsuario,
            contentType: 'application/json',
            success: function (response) {
                // Preencher os campos com as informações obtidas
                $('#nome').val(response.nome);
                $('#foneUsuario').val(response.telefone);
                $('#dataNascimento').val(response.dataNascimento);
                $('#dataInclusao').val(response.dataInclusao);
                $('#dataAtualizacao').val(response.dataAtualizacao);

                // Verificar se há documentos
                if (response.documentos && response.documentos.length > 0) {
                    var primeiroDocumento = response.documentos[0];
                    $('#tipoDocumento').val(primeiroDocumento.tipoDocumento);
                    $('#numeroDocumento').val(primeiroDocumento.descricao);
                    $('#dataInclusaoDoc').val(primeiroDocumento.dataInclusao);
                    $('#dataAtualizacaoDoc').val(primeiroDocumento.dataAtualizacao);
                } else {
                    // Limpar campos de documentos se não houver documentos
                    $('#tipoDocumento').val('');
                    $('#numeroDocumento').val('');
                    $('#dataInclusaoDoc').val('');
                    $('#dataAtualizacaoDoc').val('');
                }

                console.log(response);
            },
            error: function (error) {
                console.error('Erro:', error);
            }
        });
    });
});
	</script>
<script>
    $(document).ready(function () {
        $('#btnSalvar').click(function () { 
        	var idUsuario = $('#idUsuario').val();
        	
            var formData = {     
           
                nome: $('#nome').val(),
                telefone: $('#foneUsuario').val(),
                dataNascimento: $('#dataNascimento').val(),
                dataInclusao: $('#dataInclusao').val(),
                dataAtualizacao: $('#dataAtualizacao').val(),
                documentos: [{
                    tipoDocumento: $('#tipoDocumento').val(),
                    descricao: $('#numeroDocumento').val(),
                    dataInclusao: $('#dataInclusaoDoc').val(),
                    dataAtualizacao: $('#dataAtualizacaoDoc').val()
                }]
            };

            // Envie uma solicitação PUT para a API
            $.ajax({
                type: 'PUT',
                url: '/api/beneficiarios/' + idUsuario, // Certifique-se de ajustar a URL conforme necessário
                contentType: 'application/json',
                data: JSON.stringify(formData),
                success: function (response) {
                    // Lógica para lidar com a resposta da API
                    console.log(response);
                    limparCampos();
                },
                error: function (error) {
                    console.error('Erro:', error);
                }
            });
        });
        function limparCampos() {
            $('#idUsuario').val('');
            $('#nome').val('');
            $('#foneUsuario').val('');
            $('#dataNascimento').val('');
            $('#dataInclusao').val('');
            $('#dataAtualizacao').val('');
            $('#tipoDocumento').val('');
            $('#numeroDocumento').val('');
            $('#dataInclusaoDoc').val('');
            $('#dataAtualizacaoDoc').val('');
        }
    });
</script>

<script>
$(document).ready(function () {
    $('#btnExcluir').click(function () { 
        var idUsuario = $('#idUsuario').val();

        // Envie uma solicitação DELETE para a API
        $.ajax({
            type: 'DELETE',
            url: '/api/beneficiarios/' + idUsuario, // Certifique-se de ajustar a URL conforme necessário
            success: function (response) {
                // Lógica para lidar com a resposta da API
                console.log(response);
                limparCampos();
            },
            error: function (error) {
                console.error('Erro:', error);
            }
        });
    });

    function limparCampos() {
        $('#idUsuario').val('');
        $('#nome').val('');
        $('#foneUsuario').val('');
        $('#dataNascimento').val('');
        $('#dataInclusao').val('');
        $('#dataAtualizacao').val('');
        $('#tipoDocumento').val('');
        $('#numeroDocumento').val('');
        $('#dataInclusaoDoc').val('');
        $('#dataAtualizacaoDoc').val('');
    }
});
</script>

<script th:inline="javascript">
    $(document).ready(function () {
        $('.submenu').hide();
    });

    $(document).ready(function () {
        $('.nav-item').hover(function () {
            $(this).find('.submenu').stop(true, true).slideDown(200);
        }, function () {
            $(this).find('.submenu').stop(true, true).slideUp(200);
        });
    });
</script>
</body>
</html>
